/******************html/body***********************/
html,body{
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:grey;
    background-size:16px 16px;
}

/****************Application-content************************/
.root-content{
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}
.application-content{
   
    height: 100vh;
}
.application-content-nav{
    position: relative;
    min-width: 100vw;
    min-height: 10px;
    background:rgb(6, 145, 226);
    display: flex;
}
.application-content-view{
    position: relative;
    margin-top: 7px;
    width: 100%;
    height: 90vh;
    display: flex;
}
/******************nav-content**********************/
.nav-content{
    width: 100%;
    height: 100%;
}
.nav-content-menu{
    position: relative;
    display: flex;
    margin: 5px;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-content-menu-item{
    margin-left:8px;
    width: fit-content;
    height: 20px;
    padding: 5px;
}
.nav-content-menu-item:hover{
    background: rgb(6, 105, 163);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
/******************profilepanel***********************/
.profilePanel-content{
    position: relative;
    min-width: 250px;
    height: auto;
    background: rgba(235, 235, 223, 0.7);
}
.profilePanel-content-avatar{
    position: relative;
    border-radius: 50%;
    background: grey;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
}
.profilePanel-content-avatar-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/******************tabpanel***********************/
.tabpanel-content{
    position: relative;
    min-width: 100%;
    height: auto;
    margin-left: 5px;
    
    background: rgba(199, 199, 189, 0.1);
}